.amber {
  background-color: #f59e0b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
}

.blue {
  background-color: #0b69ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
}

.orange {
  background-color: #f97316;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
}

.emerald {
  background-color: #10b981;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
}

.teal {
  background-color: #14b8a6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
}

.red {
  background-color: #b91c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
}

.light-blue {
  background-color: #0ea5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
}

/* Write your CSS here */

.comment-item {
  list-style-type: none;
}
.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}

.username {
  color: #334155;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

.time {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.comment {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-container {
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.like-image {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.active {
  color: #0ea5e9;
}

.delete {
  height: 20px;
  width: 20px;
}

.comment-line {
  width: 100%;
  border: 1px solid #dee0e3;
}

.active {
  color: #0ea5e9;
}
